
.logo-wrapper {
    max-width: max-content;
    height: auto;
	position: absolute; 
    z-index: 1;
    left: 38%;	
    right: 62%;
	width: 100%;		
    top: 25%;	
}



.top-wrapper {
    padding: 140px 0 100px 0;
    background-image: url(../../assets/images/top.png);
    background-size: cover;
    color: rgb(164, 239, 252);
    text-align: center;
  }