.header-logo {
    max-width: max-content;
    float: left;
}


.logo-wrapper {
    max-width: max-content;
    float: left;
	position: absolute; z-index: 1;
    /* margin: 0 auto; */
    left: 30%;	
	width: 75%;		
    top: 25%;	
}

.icon-mail{
    max-width: max-content;
    float: left;
	position: absolute; z-index: 1;
	width: 75%;		/*ロゴの幅*/
	top: 60%;		/*headerに対して、上からの配置場所*/
    left: 48.5%;
}


.icon-git{
    max-width: max-content;
	position: absolute; z-index: 1;
    width: 75%;		/*ロゴの幅*/
	top: 60%;		/*headerに対して、上からの配置場所*/
    left: 51.0%;		/*headerに対して、左からの配置場所*/
}


.top-wrapper {
    padding: 140px 0 100px 0;
    background-image: url(../../assets/images/top.png);
    background-size: cover;
    color: rgb(164, 239, 252);
    text-align: center;
  }