#container {
	height: 100%;
	max-width: 100%;				
	margin: 0 auto; 
	display: flex;					/*flexボックスを使う指定*/
	/*子要素を縦並びにする*/
    flex-direction: column;			
	/* 並びかたの種類の指定 */
	justify-content: space-between;	
}


header {
	background: #00b1d4;	/*背景色*/
	color: #fff;			/*文字色*/
    display: flex;
}


header #logo {
	margin: 0 auto;		/*ロゴを左右中央に配置*/
    z-index: 1;
}


/* headerの中のロゴID  */
header #logo img {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-40%,-50%);
    width: 50%;
    height: 30%;
}


header #mail{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header #git{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

header a {
	color: #fff;
}



@media screen and (min-width:400px) {
    html, body {
        font-size: 20px;	/*基準となるフォントサイズの上書き*/
        position: relative;
    }
    header #logo {
        position: absolute; 
        top: 40%;
        left: 50%;
        transform: translate(-40%,-50%);
        width: 1500px;
        height: 1000px;
    }
} 
    
    
@media screen and (min-width:600px) {
    html, body {
        font-size: 20px;	/*基準となるフォントサイズの上書き*/
        position: relative;
    }
    header #logo {
        position: absolute;
        width: 20%;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -45%);
    }
    

    .list {
        display: flex;					/*flexボックスを使う指定*/
        justify-content: space-between;	/*並びかたの種類の指定*/
    }
    
    /*ボックス内のfigure画像*/
    .list figure {
        width: 30%;			/*幅*/
        margin-right: 5%;	/*画像の右側に空けるスペース*/
    }
    
    /*ボックス内のtextブロック*/
    .list .text {
        flex: 1;
        margin-right: 5%;
    }
} 
    
    
@media screen and (min-width:800px) {

    html, body {
        font-size: 20px;	/*基準となるフォントサイズの上書き*/
        position: relative;
    }

    #menubar ul {
        margin: 0;
        display: flex;
        justify-content: space-around;
        line-height: 1.6;	/*行間を少しだけ狭くする*/
    }
    
    /*メニュー１個あたりの設定*/
    #menubar ul li {
        flex: 1;
    }
    
    
    /*ドロップダウンメニュー
    ---------------------------------------------------------------------------*/
    #menubar .ddmenu_parent{
        position: relative;	/*ddmenu ulの幅となる基準を作っておく*/
    }
    
    /*ドロップダウンメニューブロック全体*/
    #menubar .ddmenu_parent ul {
        position: absolute;			/*絶対配置するための指定*/
        z-index: 100;
        width: 100%;				/*親のliタグに幅を合わせる*/
    }
    
    
    #menubar_hdr {display: none;}

    .c2 {
        flex-direction: row;			/*子要素を横並びにする*/
        justify-content: space-between;	/*並びかたの種類の指定*/
    }
    
    /*main（※頭にドット「.」のない「main」とは全く異なります。）*/
    .main {
        width: calc(100% - 250px);	/*幅。250pxというのは、下のsubのwidthの値に余白分を加えた数字です。ちょうど200pxにしてしまうとキツキツになるので。*/
    }

    .sub {
        width: 200px;	/*幅。変更する際は上の.mainのwidthも調整して下さい。*/
    }
    
    #new dt {
        width: 14em;	/*幅。14文字(em)分。*/
        display: flex;	/*flexボックスを使う指定*/
        justify-content: space-between;	/*日付とアイコンをそれぞれ端に寄せる*/
    }
    
    #new dt span {
        display: inline-block;	/*表示させる*/
        width: 6em;				/*幅。6文字(em)分。*/
        background: #999;		/*背景色*/
        color: #fff;			/*文字色*/
        font-size: 0.8em;		/*文字サイズを80%に。*/
        text-align: center;		/*文字をセンタリング*/
        margin-right: 1em;		/*アイコンの右側に空けるスペース*/
        align-self: flex-start;	/*高さを間延びさせない指定*/
        line-height: 1.8;		/*行間を少し狭く*/
        position: relative;top: 0.4em;	/*上下の配置バランスの微調整*/
    }
    
    /*bg1設定。サンプルテンプレートでは「サービス」と書いてあるマーク*/
    #new dt span.icon-bg1 {
        background: #00b1d4;	/*背景色*/
    }
    
    /*記事(dd)設定*/
    #new dd {
        width: calc(100% - 14em);	/*「14em」は上の「#new dt」のwidthの値です。*/
    }

    .list-container {
        display: flex;		/*flexボックスを使う指定*/
        flex-wrap: wrap;	/*折り返す指定*/
        /*justify-content: space-between;	並びかたの種類の指定*/
    }
    
    .list {
        flex-direction: column;			/*子要素を縦並びにする*/
        width: 32%;			/*幅。３列になります。*/
        margin-right: 2%;	/*右側へのマージン*/
    }
    
    .list:nth-of-type(3n) {
        margin-right: 0;	/*右側マージンをなくす*/
    }
    
    .list figure {
        width: 100%;
        margin-right: 0;
    }
    
    .list .text {
        margin-right: 0;
    }
    
    .list h4 {
        margin: 10px 0;	/*上下、左右への余白*/
    }
    
    .ta1 caption {
        padding: 5px 15px;		/*上下、左右へのボックス内の余白*/
    }
    
  
    .ta1 th, .ta1 td {
        padding: 20px 15px;		/*上下、左右へのボックス内の余白*/
    }
    
    .ta1 th {
        width: 20%;		
    }
   
    .ws {width: 48%;display: inline;}
    .sh {display: none;}
    .pc {display: block;}
    
    }  